@font-face {
	font-family: 'Press StartK';
	src: url('/font/prstartk.ttf') format('truetype');
}

body {
	font-family: 'Press Start K';
	width: 100%;
	color: white;
	background-color: rgb(20, 20, 20);
	margin: auto;
	text-align: center;
}

header {
	margin: 30px;
}

.pacmanlogo {
	width: 50%;
	margin: auto
}

.pacman {
	width: 40px;
	padding: 5px;	
	transform: scale(-1,1);
}

@keyframes movetoLeft {
	0% {
		transform: translateX(1100px)
	}
	100% {
		transform: translateX(-1100px)
	}
}

.one {
	transform: translateX(1100px);
}

.one {
	animation-name: movetoLeft;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: relative;
}

.ghost img {
	width: 40px;
}

#homesection {
	padding: 100px;
	margin: auto;
	border-bottom: 1px solid #F9ED3F;
	display: block;
}

.coin,
h2 {
	padding: 20px;
	font-size: 20px;
	animation: blink 1s infinite;
}

@keyframes blink {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

nav {
	font-size: 12pt;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
}

nav ul {
	padding: 0;
	display: flex;
	margin: auto;
	list-style-type: none;
	justify-content: center;
}

nav a {
	color: rgb(252, 249, 249);
	transition: all 0.5s ease-in-out;
	text-decoration: none;
	padding: 30px;
}

nav a:hover {
	color: #F9ED3F;
}

header {
	padding: 5%;
}

.highscores h1 {
	padding: 10pt;
	color: #F9ED3F;
	padding-bottom: 20px;
	font-size: 30px;
}

.title {
	padding-bottom: 8px;
	font-size: 12pt;
}

.subtitle {
	display: inline;
	padding: 95px;
	margin-left: 60px;
	font-size: 20px;
}

.high-scores {
	padding-top: 10px;
	display: flex;
	justify-content: space-around;
}

.block {
	padding-top: 8px;
}

li:nth-child(4n) {
	color: #FF60B0;
}

li:nth-child(4n+1) {
	color: #FFA002;
}

li:nth-child(4n+2) {
	color: #FF0401;
}

li:nth-child(4n+3) {
	color: #04f8f7;
}

#scores {
	padding: 100px;
	margin: auto;
	border-bottom: 1px solid #F9ED3F;
	display: block;
}

.pacman2 {
	width: 40px;
	padding: 0px 5px;
}

.blueghost>img {
	width: 40px;
	padding: 0px 5px;
}

@keyframes toRight {
	0% {
		transform: translateX(-1100px)
	}
	100% {
		transform: translateX(1100px)
	}
}

.howtoplay {
	animation: toRight 5s linear infinite;
}

#howtoplay,
h3 {
	padding-top: 30px;
	padding-bottom: 10px;
}

#howto {
	padding: 100px;
	margin: auto;
	border-bottom: 1px solid #F9ED3F;
	display: block;
}

#point {
	color: #FFD300;
	text-transform: uppercase;
	padding: 0;
	margin: 5px;
	font-size: 12pt;
}

.text {
	margin: auto;
	text-align: center;
	font-size: 12pt;
	letter-spacing: normal;
	width: 55%;
}

.playertable {
	width: 100%;
	font-size: 12pt;
	margin: auto;
	padding: 5px;
	margin-bottom: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.playerssection,
h4 {
	margin-top: 120px;
}

.playertable tr:nth-child(1) {
	color: #fff
}

.playertable tr:nth-child(2) {
	color: #FF0401
}

.playertable tr:nth-child(3) {
	color: #FF60B0
}

.playertable tr:nth-child(4) {
	color: #04f8f7
}

.playertable tr:nth-child(5) {
	color: #FFA002
}

.playertable th {
	padding: 8px;
	margin: 0;
}

.playertable td {
	padding: 10px;
}

.playertable tr {
	padding: 20px;
}

.playertable {
	font-size: 20px;
	display: block;
	text-align: center;
	width: 40%;
}

.playertable img {
	width: 40px;
	padding: 10px;
}

.playertable td {
	font-size: 15px;
}

#pointtable {
	margin: auto;
	width: 18%;
}

.ghostlast>img {
	width: 40px;
	padding: 5px;
}

.container{
	display: flex;  
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 350px;
  height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.item_1 {
	padding-top: 20px;
	width: 150px;
  height: 30px;
}

.item_2 {
	color: #F9ED3F;
	font-size: 90px;
	width: 150px;
  height: 30px;
	padding-bottom: 90px;
}

.item_3 {
	width: 150px;
  height: 30px;
}

.item_4 {
	color: #F9ED3F;
	font-size: 30px;
	width: 150px;
  height: 30px;
	padding-bottom: 20px;
}

footer {
	margin-top: 100px;
	margin-bottom: 20px;
	font-size: 5pt;
}